<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <properties>
        <property name="layout">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p  [%t] %location - %m%n</property>
        <property name="moduleName">risk-test</property>
        <property name="outputAppender">Console</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="${outputAppender}"/>
        </Root>
    </Loggers>
</Configuration>
