<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:risk-kie="http://www.rkylin.com/schema/risk/kie-server"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.rkylin.com/schema/risk/kie-server
    http://www.rkylin.com/schema/risk/kie-server.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd">

  <context:component-scan base-package="com.rkylin.risk.kie.spring.sniffer"/>

  <risk-kie:risk-kie-server id="kieContainerSession" setting="classpath:risk-settings.xml"
      releaseIdSniffer="ruleReleaseIdCacheSniffer">
    <risk-kie:releaseId groupId="com.risk.kie.rule" artifactId="kie-server-rule-test" version="[1,)"
        scannerInterval="1000"/>
  </risk-kie:risk-kie-server>
</beans>