<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CourseType">
  <!--<cache type="cn.creditease.risk.mybatis.cache.RedisCache"/>-->
  <resultMap id="courseTypeMap" type="CourseType">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="coursetypename" property="coursetypename" jdbcType="VARCHAR"/>
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" javaType="DateTime"/>
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" javaType="DateTime"/>
  </resultMap>

  <sql id="columnList">
    id, coursetypename, createtime, updatetime
  </sql>
  <select id="queryAll" resultMap="courseTypeMap" parameterType="CourseType">
    <if test="coursetypename !=null and ''!=coursetypename">
      <bind name="coursetypename" value="'%' + coursetypename + '%'"/>
    </if>
    SELECT
    <include refid="columnList"/>
    FROM risk_course_type
    <where>
      <if test="coursetypename !=null and ''!=coursetypename">
        coursetypename LIKE #{coursetypename}
      </if>
    </where>
  </select>

  <select id="querybycondition" parameterType="map" resultType="map">
    <if test="coursetypename !=null and ''!=coursetypename">
      <bind name="coursetypename" value="'%' + coursetypename + '%'"/>
    </if>
    select
    <include refid="columnList"/>
    from risk_course_type
    <where>
      1=1
      <if test="coursetypename != null and ''!=coursetypename">
        AND coursetypeName = #{coursetypename}
      </if>
    </where>

    ORDER BY id
  </select>

  <select id="get" resultMap="courseTypeMap" parameterType="integer">
    select
    <include refid="columnList"/>
    from risk_course_type
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="delete" parameterType="integer">
    delete from risk_course_type
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="CourseType" keyColumn="id" keyProperty="id"
      useGeneratedKeys="true">
    insert into risk_course_type (coursetypename)
    values (#{coursetypename,jdbcType=VARCHAR})
  </insert>

  <update id="update" parameterType="CourseType">
    update risk_course_type
    set
      coursetypename = #{coursetypename,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryOne" resultMap="courseTypeMap" parameterType="integer">
    select
    <include refid="columnList"/>
    from risk_course_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="checkExistTypeName" resultMap="courseTypeMap" parameterType="CourseType">
    select
    <include refid="columnList"/>
    from risk_course_type
    where coursetypename = #{coursetypename,jdbcType=INTEGER}
  </select>
</mapper>