.content-tabs {
    border-bottom: solid 2px #2f4050;
}
.content-tabs {
    position: relative;
    height: 42px;
    background: #fafafa;
    line-height: 40px;
}
nav.page-tabs {
    margin-left: 40px;
    width: 100000px;
    height: 40px;
    overflow: hidden;
}
nav.page-tabs .page-tabs-content {
    float: left;
}
.page-tabs a {
    color: #999;
}
.page-tabs a {
    display: block;
    float: left;
    border-right: solid 1px #eee;
    padding: 0 15px;
}
.page-tabs a.active {
    background: white;
    color: #a7b1c2;
}
.J_menuTab {
    -webkit-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}
a.J_menuTab {
    cursor: pointer;
}

.content-tabs .roll-left {
    left: 0;
    border-right: solid 1px #eee;
}
.content-tabs .roll-right {
    right: 0;
    border-left: solid 1px #eee;
}
.content-tabs .roll-nav, .page-tabs-list {
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #999;
    z-index: 2;
    top: 0;
}
.content-tabs button {
    background: #fff;
    border: 0;
    height: 40px;
    width: 40px;
    outline: 0;
}

.roll-right.btn-group {
    right: 60px;
    width: 80px;
    padding: 0;
}

#content-main {
    height: calc(100% - 102.111px);
    overflow: hidden;
}
#page-wrapper{
    height: 100%;
}
#wrapper{
    height: 100%;
}
