<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:task="http://www.springframework.org/schema/task"
		xmlns:util="http://www.springframework.org/schema/util"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
			http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task-4.2.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">


	<context:property-placeholder location="risk-test.properties"/>


	<bean id="parentRopUtil" class="com.rkylin.risk.service.utils.ROPUtil" abstract="true" >
		<property name="mapper" ref="jsonMapper"/>
	</bean>

	<bean id="commonROP" parent="parentRopUtil">
		<property name="appKey" value="${app.key}"/>
		<property name="appSecret" value="${app.secret}"/>
		<property name="ropUrl" value="${rop.url}"/>
	</bean>
	<bean id="fileROP" parent="parentRopUtil">
		<property name="appKey" value="${file_rop_key}"/>
		<property name="appSecret" value="${file_rop_secret}"/>
		<property name="ropUrl" value="${file_rop_url}"/>
	</bean>
	<bean id="accountROP" parent="parentRopUtil">
		<property name="appKey" value="${account_rop_key}"/>
		<property name="appSecret" value="${account_rop_secret}"/>
		<property name="ropUrl" value="${account_rop_url}"/>
	</bean>





	<bean id="jsonMapper"
			class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
		<property name="createXmlMapper" value="false"/>
		<property name="objectMapper">
			<bean class="com.fasterxml.jackson.datatype.joda.JodaMapper"/>
		</property>
		<property name="featuresToEnable">
			<array>
				<util:constant
						static-field="com.fasterxml.jackson.core.JsonParser.Feature.ALLOW_UNQUOTED_FIELD_NAMES"/>
				<util:constant
						static-field="com.fasterxml.jackson.core.JsonParser.Feature.ALLOW_SINGLE_QUOTES"/>
			</array>
		</property>
		<property name="featuresToDisable">
			<util:constant
					static-field="com.fasterxml.jackson.databind.DeserializationFeature.FAIL_ON_UNKNOWN_PROPERTIES"/>
		</property>
		<property name="indentOutput" value="true"/>
		<property name="simpleDateFormat" value="yyyy-MM-dd HH:mm:ss"/>
		<property name="serializationInclusion" value="NON_EMPTY"/>
	</bean>
</beans>