<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CaseEvent" >
  <resultMap id="caseEventMap" type="CaseEvent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="caseid" property="caseid" jdbcType="INTEGER" />
    <result column="eventid" property="eventid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="columnList" >
    id, caseid, eventid, status
  </sql>
  <select id="get" resultMap="caseEventMap" parameterType="integer" >
    select 
    <include refid="columnList" />
    from risk_case_event
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="integer" >
    delete from risk_case_event
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="CaseEvent" >
    insert into risk_case_event (caseid, eventid, status
      )
    values (#{caseid,jdbcType=INTEGER}, #{eventid,jdbcType=INTEGER}, #{status,jdbcType=CHAR}
      )
  </insert>
  <update id="update" parameterType="CaseEvent" >
    update risk_case_event
    set caseid = #{caseid,jdbcType=INTEGER},
      eventid = #{eventid,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>