<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:cache="http://www.springframework.org/schema/cache"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
      http://www.springframework.org/schema/context   
      http://www.springframework.org/schema/context/spring-context-3.0.xsd   
      http://www.springframework.org/schema/aop   
      http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
      http://www.springframework.org/schema/tx	
      http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
      http://www.springframework.org/schema/cache 
      http://www.springframework.org/schema/cache/spring-cache-3.0.xsd">

    <bean id="calculatePayRate" class="com.rkylin.risk.boss.quartz.CalculatePayRate" />
    <bean id="jobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="group" value="job_work" />
        <property name="name" value="job_work_name" />
        <!--false表示等上一个任务执行完后再开启新的任务 -->
        <property name="concurrent" value="false" />

        <property name="targetObject">
            <ref bean="calculatePayRate" />
        </property>

        <property name="targetMethod">
            <value>calculatePayRate</value>
        </property>
    </bean>

    <!-- 调度触发器 -->
    <bean id="myTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="name" value="work_default_name" />
        <property name="group" value="work_default" />
        <property name="jobDetail">
            <ref bean="jobDetail" />
        </property>
        <property name="cronExpression">
            <value>0 0 1 * * ?</value>
        </property>
    </bean>

    <!-- 每半小时去回调米投风控报告 -->
    <bean id="getMitouReportTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="name" value="mitou_default_name" />
        <property name="group" value="mitou_default" />
        <property name="jobDetail">
            <ref bean="mitouReportjobDetail" />
        </property>
        <property name="cronExpression">
            <value>0 0/30 * * * ?</value>
        </property>
    </bean>

    <bean id="mitouReportjobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="group" value="mitou_work" />
        <property name="name" value="mitou_work_name" />
        <!--false表示等上一个任务执行完后再开启新的任务 -->
        <property name="concurrent" value="false" />

        <property name="targetObject">
            <ref bean="getMitouReport" />
        </property>

        <property name="targetMethod">
            <value>GetMitoureport</value>
        </property>
    </bean>

    <bean id="mitouCommitInfojobDetail"
        class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="group" value="mitou_reCommit" />
        <property name="name" value="mitou_reCommit_name" />
        <!--false表示等上一个任务执行完后再开启新的任务 -->
        <property name="concurrent" value="false" />

        <property name="targetObject">
            <ref bean="mitouCommitInfo" />
        </property>

        <property name="targetMethod">
            <value>resubmitMitouInfo</value>
        </property>
    </bean>

    <bean id="mitouCommitInfoTrigger"
        class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="name" value="default_name" />
        <property name="group" value="default" />
        <property name="jobDetail">
            <ref bean="mitouCommitInfojobDetail" />
        </property>
        <property name="cronExpression">
            <value>0 0/5 * * * ?</value>
        </property>
    </bean>

    <bean id="getMitouReport" class="com.rkylin.risk.boss.quartz.MitouReportScheduler" />

    <bean id="mitouCommitInfo" class="com.rkylin.risk.boss.quartz.MitouCommitInfoScheduler"/>


    <!-- 调度工厂 -->
    <bean id="scheduler"
        class="com.rkylin.risk.boss.quartz.SchedulerShutDelay">
        <property name="triggers">
            <list>
                <ref bean="myTrigger" />
                <!--<ref bean="mitouCommitInfoTrigger"/>-->
                <!--<ref bean="getMitouReportTrigger"/>-->
            </list>
        </property>
    </bean>

</beans>