<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:risk-kie="http://www.rkylin.com/schema/risk/kie-server"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.rkylin.com/schema/risk/kie-server
       http://www.rkylin.com/schema/risk/kie-server.xsd">


  <bean id="baseRedisDao" class="com.rkylin.risk.core.dao.impl.BaseRedisDaoImpl">
    <property name="redisTemplate" ref="cacheRedisTemplate"/>
  </bean>
  <risk-kie:risk-kie-server id="kieContainerSession" setting="classpath:/risk-maven-settings.xml" releaseIdSniffer="ruleReleaseIdCacheSniffer">
    <risk-kie:releaseId groupId="${maven.groupPath}P000008" artifactId="P00000816" version="[1,)" scannerInterval="600000"/>
    <risk-kie:releaseId groupId="${maven.groupPath}P000008" artifactId="P00000817" version="[1,)" scannerInterval="600000"/>
    <risk-kie:releaseId groupId="${maven.groupPath}P000008" artifactId="P00000822" version="[1,)" scannerInterval="600000"/>
    <risk-kie:releaseId groupId="${maven.groupPath}P000008" artifactId="P00000823" version="[1,)" scannerInterval="600000"/>
    <risk-kie:releaseId groupId="${maven.groupPath}P000008" artifactId="P00000824" version="[1,)" scannerInterval="600000"/>
    <risk-kie:releaseId groupId="${maven.groupPath}P000008" artifactId="P00000825" version="[1,)" scannerInterval="600000"/>
    <risk-kie:releaseId groupId="${maven.groupPath}P000008" artifactId="P00000826" version="[1,)" scannerInterval="600000"/>
    <risk-kie:releaseId groupId="${maven.groupPath}M000020" artifactId="P00014627" version="[1,)" scannerInterval="600000"/>
    <risk-kie:releaseId groupId="${maven.groupPath}M000020" artifactId="P00014628" version="[1,)" scannerInterval="600000"/>
    <risk-kie:releaseId groupId="${maven.groupPath}M000020" artifactId="P00014630" version="[1,)" scannerInterval="600000"/>
    <risk-kie:releaseId groupId="${maven.groupPath}M000020" artifactId="P00014631" version="[1,)" scannerInterval="600000"/>
    <risk-kie:releaseId groupId="${maven.groupPath}M000020" artifactId="P00014632" version="[1,)" scannerInterval="600000"/>
    <risk-kie:releaseId groupId="${maven.groupPath}M000020" artifactId="P00014633" version="[1,)" scannerInterval="600000"/>
    <risk-kie:releaseId groupId="${maven.groupPath}M000020" artifactId="P00014634" version="[1,)" scannerInterval="600000"/>
    <risk-kie:releaseId groupId="com.rkylin.risk.rule" artifactId="risk-rule-repository"
        version="2.0.0" scannerEnabled="false"/>
  </risk-kie:risk-kie-server>

</beans>