<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">

       <context:component-scan base-package="com.rkylin.risk.batch.scheduling" />
       <!--计算前一日新增客户信息评分的定时-->
       <bean id="CustomerFactorDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
              <property name="targetObject" ref="customerFactorSchedul" />
              <property name="targetMethod" value="runCustomerFactor" />
       </bean>
       <bean id="CustomerFactorTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
              <property name="jobDetail" ref="CustomerFactorDetail" />
              <property name="cronExpression" value="0 40 14 * * ?" />
       </bean>

       <!--计算提现交易时历史高风险触发情况的定时-->
       <bean id="CustRiskDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
              <property name="targetObject" ref="custRiskSchedul" />
              <property name="targetMethod" value="runCustRiskSchedule" />
       </bean>
       <bean id="CustRiskTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
              <property name="jobDetail" ref="CustRiskDetail" />
              <property name="cronExpression" value="0 55 15 * * ?" />
       </bean>

       <!--定时-->
       <bean  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
              <property name="triggers">
                     <list>
                            <ref bean="CustomerFactorTrigger" />
                            <ref bean="CustRiskTrigger" />
                     </list>
              </property>
       </bean>


</beans>