<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:batch="http://www.springframework.org/schema/batch"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/batch
      http://www.springframework.org/schema/batch/spring-batch-3.0.xsd
       ">

       <bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
              <property name="jobRepository" ref="jobRepository"/>
       </bean>

       <bean id="jobRepository" class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
       </bean>

       <bean id="transactionManager"
             class="org.springframework.batch.support.transaction.ResourcelessTransactionManager"/>

       <batch:job id="customerFactorJob">
          <batch:step id="step_factor">
                 <tasklet transaction-manager="transactionManager" >
                     <chunk reader="custItemReader" writer="custItemWrite" processor="custItemProcessor" commit-interval="1"></chunk>
                 </tasklet>
          </batch:step>
       </batch:job>

       <bean id="custItemReader" class="com.rkylin.risk.batch.example.customerReaderImpl"/>
       <bean id="custItemWrite" class="com.rkylin.risk.batch.example.customerWriteImpl"/>
       <bean id="custItemProcessor" class="com.rkylin.risk.batch.example.customerProcessor"/>


</beans>